* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}

.post {
  display:flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  margin-right: 0.5rem;
}

.post-enter {
  transform:translateX(-350px);
  opacity: 0;
}
.post-enter-active {
  transform:translateX(0);
  opacity: 1;
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transform:translateX(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  display: flex;
  margin-top: 15px;
  /* position: absolute; */
  /* bottom: 10px; */
}

.page {
  width: 40px;
  padding: 10px;
  border: 1px solid teal;
  text-align: center;
  cursor: pointer;
}

.page__current {
  border: 2px solid orange;
  font-weight: bold;
}

.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  padding: 0 100px;
  align-items: center;
  justify-content: space-between;
  background: rgb(0 128 128 / 49%);
  color: white;
}

.container {
  max-width: 800px;
  width: 100%;
}

.navbar__links {
  margin-left: auto;
}
.navbar__link {
  margin-left: 10px;
  color: white;
}